In [37]:
import pandas as pd 
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
retail_data = pd.read_csv("retail_data_eda.csv")

In [39]:
retail_data.head()

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,...,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Month,AvgWeeklySalesperStore,AvgWeeklySalesperDept,AverageMonthlySales
0,0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,19213.485088,16008.779217
1,1,1,2,2010-02-05,50605.27,False,A,151315,42.31,2.572,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,43607.020113,16008.779217
2,2,1,3,2010-02-05,13740.12,False,A,151315,42.31,2.572,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,11793.698516,16008.779217
3,3,1,4,2010-02-05,39954.04,False,A,151315,42.31,2.572,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,25974.630238,16008.779217
4,4,1,5,2010-02-05,32229.38,False,A,151315,42.31,2.572,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,21365.583515,16008.779217

In [40]:
retail_data.shape

(421570, 22)

In [41]:
retail_data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [42]:
retail_data.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,...,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Month,AvgWeeklySalesperStore,AvgWeeklySalesperDept,AverageMonthlySales
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,0.0,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,19213.485088,16008.779217
1,1,2,2010-02-05,50605.27,False,A,151315,42.31,2.572,0.0,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,43607.020113,16008.779217
2,1,3,2010-02-05,13740.12,False,A,151315,42.31,2.572,0.0,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,11793.698516,16008.779217
3,1,4,2010-02-05,39954.04,False,A,151315,42.31,2.572,0.0,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,25974.630238,16008.779217
4,1,5,2010-02-05,32229.38,False,A,151315,42.31,2.572,0.0,...,0.0,0.0,0.0,211.096358,8.106,False,2,21710.543621,21365.583515,16008.779217

In [43]:
retail_data.dtypes

Store                       int64
Dept                        int64
Date                       object
Weekly_Sales              float64
IsHoliday_x                  bool
Type                       object
Size                        int64
Temperature               float64
Fuel_Price                float64
MarkDown1                 float64
MarkDown2                 float64
MarkDown3                 float64
MarkDown4                 float64
MarkDown5                 float64
CPI                       float64
Unemployment              float64
IsHoliday_y                  bool
Month                       int64
AvgWeeklySalesperStore    float64
AvgWeeklySalesperDept     float64
AverageMonthlySales       float64
dtype: object

Feature Selection

In [44]:
categorical = ['Store','Type','Dept','IsHoliday_x','IsHoliday_y']

In [45]:
X_cat= retail_data[categorical]

In [46]:
X_cat= pd.get_dummies(X_cat)   
X_cat

        Store  Dept  IsHoliday_x  IsHoliday_y  Type_A  Type_B  Type_C
0           1     1        False        False       1       0       0
1           1     2        False        False       1       0       0
2           1     3        False        False       1       0       0
3           1     4        False        False       1       0       0
4           1     5        False        False       1       0       0
...       ...   ...          ...          ...     ...     ...     ...
421565     45    93        False        False       0       1       0
421566     45    94        False        False       0       1       0
421567     45    95        False        False       0       1       0
421568     45    97        False        False       0       1       0
421569     45    98        False        False       0       1       0

[421570 rows x 7 columns]

In [47]:
# Define dependent variable
y= retail_data.AvgWeeklySalesperDept

In [48]:
#Make a variable called numerical and a list containing all Numerical columns
X_numerical= retail_data.drop(['Date','Store','Type','Dept','AvgWeeklySalesperDept','IsHoliday_x','IsHoliday_y'], axis=1)
X_numerical

,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Month,AvgWeeklySalesperStore,AverageMonthlySales
0,24924.50,151315,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,2,21710.543621,16008.779217
1,50605.27,151315,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,2,21710.543621,16008.779217
2,13740.12,151315,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,2,21710.543621,16008.779217
3,39954.04,151315,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,2,21710.543621,16008.779217
4,32229.38,151315,42.31,2.572,0.00,0.00,0.0,0.00,0.00,211.096358,8.106,2,21710.543621,16008.779217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,2487.80,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,10,11662.897315,15243.855576
421566,5203.31,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,10,11662.897315,15243.855576
421567,56017.47,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,10,11662.897315,15243.855576
421568,6817.48,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,10,11662.897315,15243.855576
421569,1076.80,118221,58.85,3.882,4018.91,58.08,100.0,211.94,858.33,192.308899,8.667,10,11662.897315,15243.855576

Scaling the numerical columns

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
scaler = StandardScaler().fit(X_numerical)
X_numerical_scaled=scaler.transform(X_numerical)

In [51]:
X_numerical_scaled

array([[ 0.39378188,  0.23920895, -0.96379804, ..., -1.37194493,
         0.82630205,  0.02412105],
       [ 1.52453759,  0.23920895, -0.96379804, ..., -1.37194493,
         0.82630205,  0.02412105],
       [-0.09868005,  0.23920895, -0.96379804, ..., -1.37194493,
         0.82630205,  0.02412105],
       ...,
       [ 1.76284337, -0.30348902, -0.06721947, ...,  1.09474444,
        -0.62281246, -0.6463014 ],
       [-0.40349236, -0.30348902, -0.06721947, ...,  1.09474444,
        -0.62281246, -0.6463014 ],
       [-0.65626152, -0.30348902, -0.06721947, ...,  1.09474444,
        -0.62281246, -0.6463014 ]])

In [52]:
X_numerical_scaled = pd.DataFrame(X_numerical_scaled)
X_numerical_scaled

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.393782,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
1,1.524538,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
2,-0.098680,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
3,1.055551,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
4,0.715425,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,-0.594133,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301
421566,-0.474566,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301
421567,1.762843,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301
421568,-0.403492,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301
421569,-0.656262,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301

In [53]:
# Reassigning column names
X_numerical_scaled.columns= X_numerical.columns

In [54]:
X_numerical_scaled

,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Month,AvgWeeklySalesperStore,AverageMonthlySales
0,0.393782,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
1,1.524538,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
2,-0.098680,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
3,1.055551,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
4,0.715425,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,0.078201,-1.371945,0.826302,0.024121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,-0.594133,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301
421566,-0.474566,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301
421567,1.762843,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301
421568,-0.403492,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301
421569,-0.656262,-0.303489,-0.067219,1.136222,0.236078,-0.161646,-0.066576,-0.223697,-0.191187,0.539003,0.379281,1.094744,-0.622812,-0.646301

In [55]:
data = pd.concat([X_numerical_scaled, X_cat,retail_data[['AvgWeeklySalesperDept','Date']]],axis=1)

In [56]:
data.head()

,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,...,AverageMonthlySales,Store,Dept,IsHoliday_x,IsHoliday_y,Type_A,Type_B,Type_C,AvgWeeklySalesperDept,Date
0,0.393782,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,...,0.024121,1,1,False,False,1,0,0,19213.485088,2010-02-05
1,1.524538,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,...,0.024121,1,2,False,False,1,0,0,43607.020113,2010-02-05
2,-0.098680,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,...,0.024121,1,3,False,False,1,0,0,11793.698516,2010-02-05
3,1.055551,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,...,0.024121,1,4,False,False,1,0,0,25974.630238,2010-02-05
4,0.715425,0.239209,-0.963798,-1.720834,-0.427943,-0.173069,-0.084662,-0.278117,-0.395181,1.018774,...,0.024121,1,5,False,False,1,0,0,21365.583515,2010-02-05

In [57]:
data.to_csv("sale.csv")

In [58]:
# Saving the scaler variable
import pickle
with open('sale_scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)